<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <img src="/images/paperTruck.png" alt="Papertruck">
        </div>
        <div class="login-box">
            <h2>RESET PASSWORD</h2>
            <% if (message) { %>
                <span class="alert alert-success"><%= message %></span>
            <% } else { %>
                <span class="alert alert-danger"><%= error %></span>
            <% }
            <form action="/updatePassword/<%= token %>" method="POST" id="updatePasswordForm">
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    <input type="hidden" id="token" name="token" value="<%= token %>">
                </div>
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
                <div>Have an account? <a href="/login">SIGN IN</a></div>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
